.export-excel {
  float: left;
}

@media (max-width: 768px) {
  .export-excel {
    float: none;
  }
}

@media (max-width: 768px) {
  li.paginate_button.previous {
    display: inline;
  }

  li.paginate_button.next {
    display: inline;
  }

  li.paginate_button {
    display: none;
  }
}

